<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.wechat">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/module_wechat"
        android:name="com.victor.lib.common.app.App"
        android:icon="@drawable/module_wechat_logo"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:label,android:icon">

        <activity android:name=".view.WeChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.victor.lib.common.view.activity.WebActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.ArticleActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>