<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.girls">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:label="@string/module_girls"
        android:name="com.victor.lib.common.app.App"
        android:icon="@drawable/module_girls_logo"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:label,android:icon">

        <activity android:name=".view.GirlsActivity"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GirlsDetailActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>