<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.mine">

    <application>

        <activity android:name=".view.MineActivity"
            android:label="@string/mine_module_mine"/>
        <activity android:name=".view.AboutActivity"
            android:label="@string/mine_module_mine"/>
        <activity android:name=".view.SettingActivity"
            android:label="@string/mine_module_mine"/>
        <activity android:name=".view.EditUserActivity"
            android:label="@string/mine_module_mine"/>

    </application>
</manifest>