<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.mine">

    <application>

        <activity android:name=".view.MineActivity"
            android:label="@string/module_mine"/>
        <!-- Scheme代理跳转 -->
        <activity
            android:name="com.victor.lib.common.view.activity.SchemaProxyActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cherry" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.victor.cherry.scheme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>