<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.home">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".view.HomeActivity"
            android:label="@string/module_home"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GankActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.SearchGankActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.GankCategoryActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.victor.lib.common.view.activity.WebActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>