<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.wechat">

    <application>

        <activity android:name=".view.WeChatActivity"
            android:label="@string/wechat_module_wechat"/>
        <activity
            android:name="com.victor.lib.common.view.activity.WebActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.ArticleActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>