<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.mine">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/mine_module_mine"
        android:name="com.victor.lib.common.app.App"
        android:icon="@drawable/module_mine_logo"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:icon">

        <activity android:name=".view.MineActivity"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Scheme代理跳转 -->
        <activity
            android:name="com.victor.lib.common.view.activity.SchemaProxyActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cherry" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.victor.cherry.scheme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.victor.lib.common.view.activity.WebActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.AboutActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.SettingActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>