<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.girls">

    <application>

        <activity android:name=".view.GirlsActivity"
            android:label="@string/girls_module_girls">
        </activity>
        <activity
            android:name=".view.GirlsDetailActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>