<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.tv">

    <application>

        <activity android:name=".view.TvActivity"
            android:label="@string/tv_module_tv"/>
    </application>
</manifest>