<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.victor.module.tv">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/module_tv"
        android:name="com.victor.lib.common.app.App"
        android:icon="@drawable/module_tv_logo"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:label,android:icon">

        <activity android:name=".view.TvActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>